<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Cache: <%=namespace%></h3>
  </div>
  <div class="panel-body" id="namespace-<%=namespace%>">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>value</th>
          <th>persisted</th>
          <th>expire</th>
        </tr>
      </thead>
      <tbody id="<%=namespace%>-cache-body">
        <%for(var k = 0, len = caches.length; k < len; k += 1){
          var entry = caches[k];%>
        <tr id="<%=namespace%>-<%=entry.key%>">
          <td><%=entry.key%></td>
          <td><%=JSON.stringify(entry.value)%></td>
          <td><%=entry.persist ? true : false%></td>
          <td><%=entry.expire ? entry.expire + 'ms' : ''%></td>
        </tr>
        <%}%>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">

  var socket = socket || io.connect('http://localhost');

  socket.on('cache-changed', function(namespace, key, value, persist, expire){

    var row = $('#' + namespace + '-' + key);
    if(row.length){
      row.html('<td>' + key + '</td>' +
        '<td>' + JSON.stringify(value) + '</td>' +
        '<td>' + (persist ? true : false) + '</td>' +
        '<td>' + (expire ? expire + 'ms' : '') + '</td>');
    }
    else{
      $('#' + namespace + '-cache-body').append('<tr id="' + namespace + '-' + key + '">' +
        '<td>' + key + '</td>' +
        '<td>' + JSON.stringify(value) + '</td>' +
        '<td>' + (persist ? true : false) + '</td>' +
        '<td>' + (expire ? expire + 'ms' : '') + '</td></tr>');
    }
  });

</script>