<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <%for(var w = 0, len = pids.length; w < len; w +=1){
          var pid = pids[w];%>
        <th>
          <div class="dropdown">
            <a id="workerDropDownTrigger<%=pid%>" data-toggle="dropdown" href="#">worker: <%=pid%></a><b class="caret"></b>

            <%if(debugging && debugging === pid){%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="workerDropDown<%=pid%>" id="workerDropDown<%=pid%>">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%=inspector%>" target="_blank"><%=inspector%></a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="debug-start-<%=pid%>">debug start</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="debug-stop-<%=pid%>">debug stop</a></li>
              </ul>
              <script type="text/javascript">
                $('#workerDropDownTrigger<%=pid%>').click();
              </script>
            <%}else if(debugging){%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="workerDropDown<%=pid%>" id="workerDropDown<%=pid%>">
              </ul>
            <%}else{%>
              <ul class="dropdown-menu" role="menu" aria-labelledby="workerDropDownTrigger<%=pid%>" id="workerDropDown<%=pid%>">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="debug-<%=pid%>" class="debug-live" pid="<%=pid%>">debug</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="debug-fresh">debug new</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" href="#helpModal">help</a></li>
              </ul>
            <%}%>
          </div>        
        </th>
      <%}%>
    </tr>
  </thead>
  <tbody id="workersStatusesTable">

    <%for(var s = 0, slen = statuses.length; s < slen; s += 1){
        var status = statuses[s];%>
      <tr>
        <td><%=status.name%></td>
        <%for(var w = 0, wlen = pids.length; w < wlen; w += 1){
          var pid = pids[w];%>
            <td>
              <%for(var st in status[pid] || {}){%>
                <div>
                  <span><%=st%></span><span> : </span><span><%=JSON.stringify(status[pid][st])%></span>
                </div>
              <%}%>
            </td>
        <%}%>
      </tr>
    <%}%>
  </tbody>
</table>

<script type="text/javascript">

<%if(!debugging){%>
    var socket = socket || io.connect('http://localhost');

    $('.debug-live').click(function(event){

      console.log('debugging live');
      socket.emit('debug', $(event.target).attr('pid'));
    });

    $('.debug-fresh').click(function(elem){

      console.log('debugging fresh');
      socket.emit('debug');
    });

<%}
else{%>
    var socket = socket || io.connect('http://localhost');

      $('#debug-start-<%=debugging%>').click(function(){
        
        socket.emit('debug-start');
      });

      $('#debug-stop-<%=debugging%>').click(function(){

        socket.emit('debug-finished');
      });
<%}%>

socket.removeAllListeners('status-change');
socket.on('status-change', function(pids, statuses){

  var table = '';

  statuses.forEach(function(status){

    table += '<tr><td>' + status.name + '</td>';

    pids.forEach(function(pid){

      table += '<td>';

      for(var st in status[pid] || {}){

        table += '<div><span>' + st + '</span><span> : </span><span>';
        table += JSON.stringify(status[pid][st]);
        table += '</span></div>';
      }

      table += '</td>'
    });

    table += '</tr>';
  });

  $('#workersStatusesTable').html(table);
});

</script>
