<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <%for(var w = 0, len = pids.length; w < len; w +=1){
          var pid = pids[w];%>
        <th>
          <div class="dropdown">
            <a id="workerDropDown<%=pid%>" data-toggle="dropdown" href="#">worker: <%=pid%></a><b class="caret"></b>
            <ul class="dropdown-menu" role="menu" aria-labelledby="workerDropDown<%=pid%>" id="workerDropDown<%=pid%>">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="debug-<%=pid%>" class="debug-live" pid="<%=pid%>">debug</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="debug-fresh">debug new</a></li>
            </ul>
          </div>        
        </th>
      <%}%>
    </tr>
  </thead>
  <tbody>

    <%for(var s = 0, slen = statuses.length; s < slen; s += 1){
        var status = statuses[s];%>
      <tr>
        <td><%=status.name%></td>
        <%for(var w = 0, wlen = pids.length; w < wlen; w += 1){
          var pid = pids[w];%>
            <td><%=JSON.stringify(status[pid] || {})%></td>
        <%}%>
      </tr>
    <%}%>
  </tbody>
</table>

<script type="text/javascript">

  var socket = socket || io.connect('http://localhost');
  
  socket.on('debug-inspector', function(pid, inspectorUrl){

    console.log('debug inspector:' + pid + ':' + inspectorUrl);

    $('.dropdown-menu').html('');

    $('#workerDropDown' + pid).html('<li role="presentation"><a role="menuitem" tabindex="-1" href="' + inspectorUrl + '">' + inspectorUrl + '</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="debug-start-' + pid + '">debug start</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="debug-stop-' + pid + '">debug stop</a></li>');

    $('#debug-start-' + pid).click(function(){

      socket.emit('debug-start');
    });

    $('#debug-stop-' + pid).click(function(){

      socket.emit('debug-finished');
    });
  });

  $('.debug-live').click(function(elem){

    console.log('debugging live');
    socket.emit('debug', elem.pid);
  });

  $('.debug-fresh').click(function(elem){

    console.log('debugging fresh');
    socket.emit('debug');
  });

</script>